
Employees-Api/.vs/Employees-Api/DesignTimeBuild/.dtbcache.v2
Employees-Api/.vs/Employees-Api/FileContentIndex/8cce5f4e-a33e-40a1-b733-c715a0ad3f4d.vsidx
Employees-Api/.vs/Employees-Api/config/applicationhost.config
Employees-Api/.vs/Employees-Api/FileContentIndex/15540a59-6b4f-499c-a68e-6d4bd2efc473.vsidx
Employees-Api/.vs/Employees-Api/FileContentIndex/172b5e66-2e63-4694-8baa-dbc092f44102.vsidx
Employees-Api/.vs/Employees-Api/FileContentIndex/92dd3422-e376-46e8-843c-4c040fa72afa.vsidx
Employees-Api/.vs/Employees-Api/FileContentIndex/9548a83f-8fce-45ba-9ee2-2949bc25b1a2.vsidx
Employees-Api/.vs/Employees-Api/FileContentIndex/a55ec22f-e258-4cd3-ba56-ae8d478c9e1e.vsidx
Employees-Api/.vs/Employees-Api/v17/.futdcache.v2
Employees-Api/.vs/Employees-Api/v17/.suo
Employees-Api/.vs/ProjectEvaluation/employees-api.metadata.v7.bin
Employees-Api/.vs/ProjectEvaluation/employees-api.projects.v7.bin
